/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

/* RNG */

.RNG_and_Calc {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  outline: 5px solid green;
}

.h2-rng {
  color: #333333;
  margin-bottom: 20px;
  font-size: 1, 5rem;
  display: flex;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.generator-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
  margin: auto;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

#generate-btn {
  background-color: #229333;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease;
}

#generate-btn:hover {
  background-color: #6ca675;
}

/* CALCULATOR */

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 5px;
  max-width: 500px;
  overflow: hidden;
}

/* DISPLAY */

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

/* BUTTONS */

/*  Puts the key in a grid, repeats for each column, 4 - 1fr=fractional unit. 1fr indicates that each column should use equal space */
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

/* Effects */
button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(28, 95%, 51%);
}

.operator-btn:hover {
  background-color: hsl(28, 95%, 65%);
}

.operator-btn:active {
  background-color: hsl(28, 95%, 75%);
}

/* TIMER */
¨ #timer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 60%);
  border: 5px solid black;
  border-radius: 25px;
  padding: 30px;
  background-color: white;
  margin-left: 5rem;
}

.h1-timer {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 50%);
  align-items: center;
}

#timer-display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsl(hue, saturation, 75%);
}

/* TIMER BUTTONS */

#timer-controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

/* EFFECTS */

#startBtn {
  background-color: hsla(120, 89%, 25%, 0.825);
}

#startBtn:hover {
  background-color: hsla(120, 30%, 40%, 0.825);
}

#stopBtn {
  background-color: hsla(0, 89%, 25%, 0.825);
}

#stopBtn:hover {
  background-color: hsla(0, 30%, 40%, 0.825);
}
#resetBtn {
  background-color: hsla(236, 89%, 25%, 0.825);
}

#resetBtn:hover {
  background-color: hsla(225, 30%, 40%, 0.825);
}
