/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 85%);
}

/* RNG */

.RNG_and_Calc {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border: 5px solid black;
}

.h2-rng {
  color: #333333;
  font-size: 1, 5rem;
  font-size: 2rem;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.generator-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px;
  border: 5px solid black;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
  font-size: 4rem;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  width: 800px;
  margin-left: 5rem;
}

#generate-btn {
  background-color: #f97a0b;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease;
}

#generate-btn:hover {
  background-color: #6ca675;
}

/* CALCULATOR */

.h1-calculator {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3.3rem;
}

#calculator {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(0, 0%, 15%);
  border-radius: 5px;
  max-width: 800px;
  overflow: hidden;
}

/* DISPLAY */

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: center;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  height: 15rem;
}

/* BUTTONS */

/*  Puts the key in a grid, repeats for each column, 4 - 1fr=fractional unit. 1fr indicates that each column should use equal space */
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 25px;
}

button {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Effects */
button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(28, 95%, 51%);
}

.operator-btn:hover {
  background-color: hsl(28, 95%, 65%);
}

.operator-btn:active {
  background-color: hsl(28, 95%, 75%);
}

/* TIMER */
¨ #timer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 60%);
  border: 5px solid black;
  padding: 30px;
  background-color: white;
  margin-left: 5rem;
  width: 800px;
  margin-bottom: 3rem;
}

.h1-timer {
  font-size: 4rem;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: hsl(0, 0%, 50%);
  text-align: center;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

#timer-display {
  font-size: 3rem;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsl(hue, saturation, 75%);
}

/* Win condition text */

.h2-timer {
  text-align: center;
  font-size: 42px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  width: 600px;
  margin-left: 10rem;
}

.p-timer {
  text-align: center;
  font-size: 36px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  width: 800px;
  margin-left: 4rem;
}

/* TIMER BUTTONS */

/* HIDDEN CODE FOR BETTER GAME EXPERIENCE */
/* #timer-controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
} */

/* EFFECTS | Changed opacity on all buttons to hide them thus eliminate bugs in the game where you could stop the timer while operating calculator.*/

#startBtn {
  background-color: hsla(120, 89%, 25%, 0.825);
  opacity: 0;
  pointer-events: none;
}

#startBtn:hover {
  background-color: hsla(120, 30%, 40%, 0.825);
  opacity: 0;
  pointer-events: none;
}

#stopBtn {
  background-color: hsla(0, 89%, 25%, 0.825);
  opacity: 0;
  pointer-events: none;
}

#stopBtn:hover {
  background-color: hsla(0, 30%, 40%, 0.825);
  opacity: 0;
  pointer-events: none;
}
#resetBtn {
  background-color: hsla(236, 89%, 25%, 0.825);
  opacity: 0;
  pointer-events: none;
}

#resetBtn:hover {
  background-color: hsla(225, 30%, 40%, 0.825);
  opacity: 0;
  pointer-events: none;
}
